@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #1e1e1e;
}

.container_bemVindo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #1e1e1e;
}

#bemVindo {
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: white;
}
#logoutButton{
    margin-top: 30px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: red;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
